body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color: DodgerBlue;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
}
h1,h3{
    font-family: 'Bree Serif', serif;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    Overflow: hidden;
    background-color: lightgrey;

}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: cyan;

}

#nav li a:hover{
    background-color:cyan;
}

#content{
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
    padding-bottom: 16px;
    background-color: rgba(255,255,255,0.7);
}
table{
    margin: auto;
}
#content ul, #content ol {
    width: 25%;
    margin: auto;
}